body
{
    color:  rgb(182, 227, 248);
    background: rgb(124, 46, 168);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
border: 2px dashed rgb(46, 109, 168);
width: 350px;
height: 30px;
}
.name_of_objects, #result_object_name ,#result_object_accuracy
{
    color: rgb(66, 168, 46);
}